Repository scabrero/pyairios: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [ "src/", "--fix" ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args: [ "--rcfile=.pylintrc", ]
    - id: mypy
      name: mypy
      entry: mypy --pretty --show-error-codes --show-error-context
      language: system
      pass_filenames: true
      files: ^(src)/.+\.py$

test docstr, remove unused
  tests/test_one.py
Due: pylint

fix prids in iit, add api_init_test
  src/pyairios/__init__.py
  tests/test_one.py
Due: pylint, mypy

pylint fix cli
  cli.py
  src/pyairios/__init__.py
Due: pylint, mypy

pylint fix models
  cli.py
  src/pyairios/client.py
  src/pyairios/constants.py
  src/pyairios/models/brdg_02r13.py
  src/pyairios/models/vmd_02rps78.py
  src/pyairios/models/vmd_07rps13.py
  src/pyairios/models/vmd_base.py
  src/pyairios/models/vmn_05lm02.py
Due: pylint, mypy

pylint fix registers
  src/pyairios/models/vmd_base.py
  src/pyairios/registers.py
Due: pylint, mypy

pylint fixes
  src/pyairios/models/brdg_02r13.py
  src/pyairios/models/vmd_02rps78.py
  src/pyairios/models/vmd_07rps13.py
  src/pyairios/models/vmd_base.py
Due: pylint, mypy

fix review comments
  pyproject.toml
  requirements_test.txt
  tests/test_one.py
Due: pylint

resolve review comments for issue #6 pymodbus dep
  pyproject.toml
  src/pyairios/client.py
Due: pylint, mypy

Add pytest config to pyproject.toml
  pyproject.toml
  tests/test_one.py
Due: pylint

create pytest file en reqs.txt
  requirements_test.txt
  tests/test_one.py
Due: pylint

Fix pylint import error
  .pylintrc
Due: none

bump pymodbus,adapt slave keyword
  pyproject.toml
  src/pyairios/client.py
Due: pylint, mypy

typed lib
  pyproject.toml
  src/pyairios/py.typed
Due: none

pymodbus >=3.11.1 for HA
  pyproject.toml
Due: none

repair import
  src/pyairios/client.py
Due: pylint, mypy

use null port, add connect + api tests
  tests/test_one.py
Due: pylint

add note
  tests/test_one.py
Due: pylint

pick up new tests
  tests/test_one.py
Due: pylint

add api connect test with except
  tests/test_one.py
Due: pylint

roll back tests to master
  tests/test_one.py
Due: pylint

git-ignore uv.lock file
  .gitignore
Due: none

Drop unused dependency
  pyproject.toml
Due: none

Fix import ordering
  tests/test_one.py
Due: pylint

Run lint action on pull request
  .github/workflows/lint.yml
Due: none

Set logger
  cli.py
  src/pyairios/__init__.py
  src/pyairios/models/brdg_02r13.py
  src/pyairios/models/vmd_02rps78.py
  src/pyairios/models/vmn_05lm02.py
  src/pyairios/node.py
  src/pyairios/registers.py
Due: pylint, mypy

Fix masked vars
  src/pyairios/registers.py
Due: pylint, mypy

Clamp register value to datatype range on writes
  src/pyairios/registers.py
Due: pylint, mypy

Add U8Register, clamp to UINT8 range
  src/pyairios/registers.py
Due: pylint, mypy

delete dev_reqs file
  requirements_test.txt
Due: none

refactor models, init, BRDG, add VMD-base, const OffOnMode, U8Register
  src/pyairios/__init__.py
  src/pyairios/client.py
  src/pyairios/constants.py
  src/pyairios/data_model.py
  src/pyairios/device.py
  src/pyairios/models/brdg_02r13.py
  src/pyairios/models/vmd_02rps78.py
  src/pyairios/models/vmd_07rps13.py
  src/pyairios/models/vmd_base.py
  src/pyairios/models/vmn_05lm02.py
  src/pyairios/node.py
  src/pyairios/registers.py
Due: pylint, mypy

fix registers, no shadowing, CLI entry to int
  src/pyairios/registers.py
Due: pylint, mypy

refactor CLI
  cli.py
Due: pylint

Ventura RegisterAccess like existing models
  src/pyairios/models/vmd_07rps13.py
Due: pylint, mypy
